{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Auction Site</title>
    <meta charset="utf8" />
    <meta keywords="auction cop4331c ucf go-knights woohoo" />
    <link rel="stylesheet" type="text/css" href={% static "/style/lib/materialize/materialize.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "/style/css/main.css" %} />
    <script type="application/javascript" src={% static "/js/lib/jquery/jquery-3.1.1.js" %} ></script>
    <script type="application/javascript" src={% static "/js/lib/materialize/materialize.js" %} ></script>
    <script type="application/javascript" src={% static "/js/src/app.js" %} ></script>
  </head>
  <body>
    <div id="header">
      <span class="logo"></span>
      <span class="site-title"></span>
      <span class="top nav">
        <a href="/account">account</a> 
        <a href="/my-listings">my listings</a> 
        <a href="/browse">browse</a> 
      </span>
    </div>
    <div id="content">
      {% include "context_links.html" %}
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      <span class="top nav">
        <a href="/account">account</a> 
        <a href="/my-listings">my listings</a> 
        <a href="/browse">browse</a> 
      </span>
      <span class="social nav">
      </span>
      <span class="context nav">
      </span>
      <span class="technical nav">
        {% include "context_links.html" %}
      </span>
    </div>
  </body>
</html>
