<div class="nav third">
  <h5>Top</h5>
  {# anon user links #}
  <a title="homepage" href="/">Home</a>
  <a title="search listings" href="/search">Sign up</a>
  {% if 1 %}
  <a title="login"    href="/login">Log in</a>
  <a title="signup"   href="/signup">Sign up</a>
  {# auth. user links. not rendered for now #}
  {% elif 0 %}
  <a title="my account" href="/my-account">My Account</a>
  <a title="logout"   href="/logout">Log out</a>
  {% endif %}
</div>
<div class="nav third">
  <h5>Contact</h5>
</div>
<div class="nav third">
  <h5>Technical</h5>
</div>
