<!-- Meta -->
<title>Site Title | {{ page_title }}</title>
<meta charset="utf-8"/>
<meta name="author" content="UCF COP4331C Spring 2018 - Group 15"/>
<meta name="keywords" content="auction,crypto,buy,sell,project,students,ucf,orlando,fl"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- Favicons -->
<link rel="icon" type="image/png" href="/img/icons/favicon.png"/>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/lib/skeleton/normalize.css"/>
<link rel="stylesheet" type="text/css" href="/css/lib/skeleton/skeleton.css"/>
<link rel="stylesheet" type="text/css" href="/css/main.css"/>

<!-- JS -->
{# todo: replace with minified version outside of dev environment #}
<script src="/js/lib/jquery/jquery-3.2.0.min.js"></script>
{# inline JavaScript to embed site configurations #}
<script>
window.app = (function () {

  const site_root = function () {

    return "{{site_root}}";

  }

  const site_title = function () {

    return "{{site_title}}";

  }

  return {
    site_root  : site_root,
    site_title : site_title 
  };

})();
</script>
{# include site javascript which references embeded global above #}
<script src="/js/dist/app.js"></script>
