{% extends "layouts/page.html" %}
{% block content %}
  {% set is_user = user['id'] == viewed_user.id %}

  <div class="nav">
    <a href="{{url_for("user.account")}}">View Account</a>
  </div>

  {{ macros.render_form(
      form,
      form_title="Edit Account",
      action=url_for("user.edit",id=viewed_user.id),
      method="PUT",
      data_controller="user-edit-form")
  }}

  <div class="nav">
    <a href="{{url_for("user.delete", id=user['id'])}}">Delete Account</a>
  </div>

{% endblock %}
