@import url("variables.less");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
/**** GLOBAL SELECTORS ****/
/* selectors on top level elements (no class or id) */

html {
  height: 100%;
  position: relative;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  color: @color-1;
}
