/**** REGIONS ****/

/* top level regions */
#header, #content, #footer {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  background-color: @color-0;
}

#header {
  height: @header-height;
  overflow: auto;
  border-bottom: 1px solid @color-4;
}

#content {
  margin-top: 100px; 
  max-width: 800px;
  .rhomb;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  border-top: 1px solid @color-4;
  height: @footer-height;
  text-align: center;
}

/* top-level navigation */
#header .nav {
  float: right;
}

#header .flash-message {
  color     : @color-6;
  text-align: center;
}

#header .flash-message.error {
  color: @color-error;
}

#header .flash-message.success {
  color: @color-5;
}

/** Navigation **/

.nav a {
  margin-right: 10px;
}

.third {
  display: inline-block;
  width: 30%; 
  padding: 1%;
  margin: 0;
  vertical-align: top;
}

#footer .nav {
  font-size: .9em;
  max-width: 300px;
  margin-right: 0;
  border-right: 1px solid @color-4;
  height: 100%;
}

#footer .nav:last-of-type {
  border-right: none;
}

#footer .nav a {
  display: block;
  text-align: left;
}
