/**** VARIABLES ****/
/*scale*/
@header-height: 80px;
@footer-height: 200px;
@mobile-width: 320px;
@tablet-width: 748px;

/* reserved color */
@color-error  : #FF0022;
@color-success: #11FF33;

/** Greyscale **/
@color-0: #FFFFFF;
@color-1: #333333;
@color-2: #666666;
@color-3: #C5C5C5;
@color-4: #DEDEDE;

/** Colors **/
/* minty */
@color-5: #3FD49A;
/* lavender */
@color-6: #234fa8;
/* cerulean */
@color-7: #A3D9F4;

/** Mixins **/
.transition-property(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.error {
  color: @color-error;
}

.inline {
  display: inline-block;
}

/* cool rhombus effect using absolute positioning with the 
 * :before and :after pseudo-elements */
.rhomb, .diamond {
  position: relative;
  margin-bottom: 5em;
}

.pentagon:after,
.diamond:before,
.diamond:after,
.rhomb:before,
.rhomb:after {
  content: "";
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  height: 5em;
  background-size: 100% 100%;
  left: 0;
}


.diamond:before,
.rhomb:before {
  bottom: 100%;
  left: 0;
}

.rhomb:before {
  background-image: url("/img/icons/rhomb-top.png");
}

.diamond:before {
  background-image: url("/img/icons/diamond-top.png");
}

.rhomb:after {
  top: 100%;
  left: 0;
  background-size: 100% 100%;
  height: 3em;
}

.rhomb:after {
  background-image: url("/img/icons/rhomb-bottom.png");
}

.pentagon:after,
.diamond:after {
  background-image: url("/img/icons/diamond-bottom.png");
  top: 100%;
}

/* loading dots animation */
@keyframes waiting {
  0% {
    content: "."
  }

  33.33% {
    content: "."
  }

  33.333% {
    content: ".."
  }

  66.663% {
    content: ".."
  }

  66.666% {
    content: "..."
  }

  100% {
    content: "..."
  }

}

/* fly in and vanish */
@keyframes fly-in {

  0% {
    left: 30%;
    opacity: 0;
  }

  30% {

    left: 0%;
    opacity: 1;

  }


  90% {

    left: 0%;
    opacity: 1;

  }

  100% {

    left: -10%;
    opacity: 0;

  }

}

/* mix in */
.fly-in {
  animation: fly-in 1 3s;
}

.waiting, .finished, .error {
  position: relative; 
}

.waiting:before, .finished:before, .error:before {
  position: absolute; 
  bottom  : 100%;
  left    : 0;
  font-size: 1.5em;
}

/* by defaut, elipsis show up above the element. overwrite as necessary */
.waiting:before {
  content  : "";
  animation: waiting 2s infinite;
  color    : @color-6;
}

/* by default offer a checkmark to indicate success */
.finished:before {
  content : "OK";
  color    : @color-6;
  opacity: 0;
  .fly-in;
}

/* by default offer an X to indicate error */
.error:before {
  content : "x";
  color    : @color-error;
  opacity: 0;
  .fly-in;
}

@keyframes flashing {
  0% {
    color: #FF0000;
  }
  20% {
    color: #00FF00;
  }
  40% {
    color: #0000FF;
  }
  60% {
    color: #FFFF00;
  }
  80% {
    color: #00FF00;
  }
}

@webkit-keyframes flashing {
  0% {
    color: #FF0000;
  }
  20% {
    color: #00FF00;
  }
  40% {
    color: #0000FF;
  }
  60% {
    color: #FFFF00;
  }
  80% {
    color: #00FF00;
  }
}

span.dollars:before {
  content: "$"
}

span.bitcoin:before {
  content: "\0E3F"
}

.framed {
  border-top: 1px solid @color-4;
  border-right: 1px solid @color-4;
  border-left: 1px solid @color-4;
  border-bottom: none;
}

.flashing {
  -webkit-animation: flashing .5s steps(5, start) infinite;
  -moz-animation   : flashing .5s steps(5, start) infinite;
  animation        : flashing .5s steps(5, start) infinite;
  font-weight: 600;
}
