{# global wtforms_type_types #}
{# for some reason wtforms renders these as 'text' inputs. nopenopenope #}
{% set wtf_type_types = {
    "PasswordField" : "password",
    "EmailField" : "email",
    "DateField" : "date",
  }
%} 
{# render form input #}
{% macro render_input(input) %}
  {% set css_class     = kwargs["class"]         if "class" in kwargs         else "" %}
  {% set wrapper_class = kwargs["wrapper_class"] if "wrapper_class" in kwargs else "" %}
  {% set css_class     = kwargs["class"]         if "class" in kwargs         else "" %}
  {% set value         = kwargs["value"]         if "value" in kwargs         else input.default %}
  {% set value         = value                   if value != None           else "" %}
  {% set title         = kwargs["title"]         if "title" in kwargs         else input.description%}

  {% set required    = "required"          if input.flags.required else ""%}
  {% set placeholder = kwargs["placeholder"] if "placeholder" in kwargs else ""%}

  {# use default rendering for submit and hidden csrftoken #}
  {% if input.type in ["SubmitField", "CSRFTokenField", "HiddenField"] %}
    {{input()}} 
  {% elif required %}
    {% set type = wtf_type_types[input.type] if input.type in wtf_type_types else "text" %}
    {# for all other types, wrap in a wrapper and allow attributes passed in above #}
    <div class="form-input-wrapper {{input.name}} {{wrapper_class}}">
      {{input.label}}
      {{input(id=input.id,
              class="form-input " + input.name + " " + css_class,
              placeholder=placeholder,
              value=value,
              required=required,
              title=title)
      }}
    </div>
  {% else %}
    <div class="form-input-wrapper {{input.name}} {{wrapper_class}}">
      {{input.label}}
      {{input(id=input.id,
              class="form-input " + input.name + " " + css_class,
              placeholder=placeholder,
              value=value,
              title=title)
      }}
    </div>
  {% endif %}
{% endmacro %}

{# render form #}
{% macro render_form(form) %}
  {% set title  = kwargs["title"] if "title" in kwargs else None %}
  {% set action = kwargs["action"] if "action" in kwargs else "" %}
  {% set method = kwargs["method"] if "method" in kwargs else "POST"%}
  {% set data_controller = kwargs["data_controller"] if "data_controller" in kwargs else None %}
  {% set data_controller = "data-controller=\""+ data_controller +"\"" if data_controller else "" %}
  {% set form_class = kwargs["form_class"] if "form_class" in kwargs else ""%}

  {# mappings of input names to CSS class #}
  {% set input_class_map   = kwargs["input_class_map"]   if "input_class_map"   in kwargs else {} %}
  {% set wrapper_class_map = kwargs["wrapper_class_map"] if "wrapper_class_map" in kwargs else {} %}

  <form class="{{form_class}}" {{data_controller}} method="{{method}}" action="{{action}}">
    {% if form.errors %}
      {% for reason, message in form.errors.items() %}
      <div class="message error">{{message}}</div> 
      {% endfor %}
    {% endif %}
    {% if title != None %}
      <h3>{{title}}</h3>
    {% endif %}
    {% for input in form %}
      {% set value = input.data or None %}
      {% set input_class   = input_class_map[input.name]   if input.name in input_class_map else   "" %}
      {% set wrapper_class = wrapper_class_map[input.name] if input.name in wrapper_class_map else "" %}
      {{ render_input(input, value=value, class=input_class, wrapper_class=wrapper_class)}}
    {% endfor %}
  </form>
{% endmacro %}
